<%- include('partials/header') -%>
<h2>COMPOSE</h2>
<form action="/" method="post">
    <input type="text" name = "composeBox">
    <button type="submit" name = "composeBtn">Publish</button>
</form>
<%- include('partials/footer') -%>