<%- include('partials/header') -%>
<!-- header End  -->

<%  for(let i=0;i<posts.length;i++){ %>
  <h1> <%= posts[i].title %> </h1>
  <p> <%= posts[i].content  %> </p>
 <%  } %>
 
 <!-- footer  -->
<%- include('partials/footer') -%>